In [1]:
import pandas as pd

In [2]:
# Q1
df = pd.read_csv("AmesHousing.csv")
df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [5]:
# Q2
print(f"${df['SalePrice'].max()} is the max price")
print(f"${df['SalePrice'].min()} is the min price")

$755000 is the max price
$12789 is the min price

In [37]:
# Q3
# can do df.value_counts('Lot Shape')
print(f"{', '.join(df['Lot Shape'].unique().tolist())} are the different categories in the \"Lot Shape\" column")

IR1, Reg, IR2, IR3 are the different categories in the "Lot Shape" column

In [9]:
# Q4
print(f"The range of years when houses were sold is {df['Yr Sold'].max() - df['Yr Sold'].min()} years")

The range of years when houses were sold is 4 years

In [11]:
# Q5
print(f"The total number of homes sold in Ames is {df['Yr Sold'].count()}")
# another way to do find non-null total is df['Yr Sold'].notna().sum()

The total number of homes sold in Ames is 2930

In [13]:
# Q6
print(f" There are {df['Lot Frontage'].isnull().sum()} null values in the \"Lot Frontage\" column")

 There are 490 null values in the "Lot Frontage" column

In [15]:
# Q7
print(f"The total non-null values in column \"Alley\" are {df['Alley'].notna().sum()}")
print(f"The total null values in column \"Alley\" are {df['Alley'].isnull().sum()}")

The total non-null values in column "Alley" are 198
The total null values in column "Alley" are 2732

In [17]:
# Q8 TODO
gilbert = df['Neighborhood'] == 'Gilbert'
year = (df['Yr Sold'] == 2010) | (df['Yr Sold'] == 2009)
print(f"{df['Neighborhood'].where(gilbert & year).count()} homes were sold in Gilbert between 2009 to 2010")

56 homes were sold in Gilbert between 2009 to 2010

In [19]:
# Q9
year = (df['Yr Sold'] == 2010)
print(f"{df['Neighborhood'].where(gilbert & year).count()} homes were sold in Gilbert in 2010")

15 homes were sold in Gilbert in 2010

In [21]:
# Q10
print(f"{df.iloc[3, 5]} is the value in row 3 and column 5")

11160 is the value in row 3 and column 5

In [23]:
# Q11

# df.style.format({'Formated Price': '${:,.2f}'}) can't be saved as a variable?
df['Formated Price'] = df['SalePrice'].map('${:,.2f}'.format)
df['Formated Price']

0       $215,000.00
1       $105,000.00
2       $172,000.00
3       $244,000.00
4       $189,900.00
           ...
2925    $142,500.00
2926    $131,000.00
2927    $132,000.00
2928    $170,000.00
2929    $188,000.00
Name: Formated Price, Length: 2930, dtype: object

In [31]:
# Q12
df[['Neighborhood', 'Year Built', 'SalePrice', 'Formated Price']].to_csv('minimal_ames_housing.csv')